DATABASE_URL="postgresql://postgres:postgres@localhost:5432/furniture?schema=public"
JWT_SECRET="super_secret_jwt_key_here_for_development"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP="905551234567"
